h1 {
font-family: 'Playfair Display', serif;
font-style: italic;
font-weight: 700;
}

.row {
height: 100px;
border-radius: 25px;
}

.quote {
margin-top: 50px;
box-shadow: -10px 10px 30px black;
padding: 15px 15px 0px 15px;
border-radius: 25px;
font-family: 'Playfair Display', serif;
}

.bookQuote {
padding-bottom: 20px;
}

.bookButton {
margin-top: 100px;
}

.btn {
font-family: 'Playfair Display', serif;
font-style: italic;
font-weight: 400;
}

.btn a {
text-decoration: none;
color: white;
}

/* footer */

.footer {
background-color: black;
bottom: 0;
position: fixed;
font-family: cursive, sans-serif;
padding-bottom: 5px;
padding-top: 5px;
width: 100%;
}

.footer p {
font-weight: bold;
color: gray;
text-align: center;
}