/* Styles go here */

body {
  font-size: 16px;
  margin-bottom: 300px;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 3em;
}

table {
  margin: 0 auto;
  /* border: 5px black solid; */
  border-collapse: collapse;
  box-shadow: 0 0 20px 8px rgba(7, 87, 91, 1);
}

td {
  text-align: center;
  font-size: 2em;
  /* border: 1px #C4DFE6 solid; */
  color: #003B46;
  background-color: #66A5AD;
  width: 15vw;
  height: 15vw;
}

.row1,
.row2 {
  border-bottom: 1px #C4DFE6 solid;
}

.cell2,
.cell3 {
  border-left: 1px #C4DFE6 solid;
}

h3 {
  font-size: 2em;
}

button {
  background-color: #66A5AD;
  box-shadow: 1px 1px 10px 1px black;
  display: inline-block;
  font-size: 1em;
}

.playWin {
  background-color: green;
}

footer {
  background: #222;
  color: dimgrey;
  text-align: center;
  padding: 10px;
  font-size: 0.75em;
  font-family: Georgia, Times, sans-serif;
}
