/* styles.css */


body {
    margin-bottom: 150px; 
    background-color: #4B0082;
}

.col-md-6 {
    text-align: center;
}

.fa-search {
    color: orange;
}

h1,
h3 {
    color: white;
}

h1 {
    padding-top: 30px;
    margin-bottom: 100px;
    font-weight: bold;
    letter-spacing: 2px;
}

a:link {
    text-decoration: none;
}

#randomSearch a:visited {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: orange;
}

a:hover{
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

input {
    display: none;
    border-radius: 10px;
    height: 30px;
    width: 250px;
}

.fa, input {
    vertical-align: middle;
    margin: 10px;
}

select {
    margin-top: 20px;
}

.dropdown {
    width: 50px;
}

#wikiArticle {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

.alternate:nth-child(odd) {
    background-color: #c5c9cf;
}

.alternate {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h4,
article {
    text-align: left;
}

h4 {
    margin-bottom: 2px;
    color: black;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Georgia, Times, sans-serif;
}